arabic-reshaper
auto-py-to-exe
backports.weakref
bleach
ez-setup
flask
foliantcontrib.imagemagick
freeze
gitpython
google-cloud-vision
httpserver
imutils
jdatetime
jedi
kivy
kivy.deps.angle
kivy.deps.glew
kivy.deps.sdl2
macholib
magickwand
matplotlib
opencv-contrib-python
opencv-python
pandas
pattern
pigar
pip-chill
pipreqs
playsound
py2exe
pyaescrypt
pyautogui
pyenchant
pygame
pyhook
pypiwin32
pyqt5-tools
pyside2
pytesseract
python-bidi
python-socketio
pythonmagick
pywinhook
qdarkgraystyle
qimage2ndarray
qrcode
shellescape
tensorflow
tqdm
watchdog